<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.dao.board-mapper">
  <!-- SQL문장 전송 : SQL문장을 저장  -->
  <select id="boardListData" resultType="BoardVO" parameterType="hashmap">
    SELECT no,subject,name,regdate,TO_CHAR(regdate,'YYYY-MM-DD') as dbday,hit,num 
    FROM (SELECT no,subject,name,regdate,hit,rownum as num 
    FROM (SELECT no,subject,name,regdate,hit 
    FROM freeboard ORDER BY no DESC))
    WHERE num BETWEEN #{start} AND #{end}
  </select>
  <!-- 총페이지 구하기 -->
  <select id="boardTotalPage" resultType="int">
    SELECT CEIL(COUNT(*)/10.0) FROM freeboard
  </select>
  <!-- 
       JSP => 링크(요청) 
       list.jsp   =====> BoardManager  <=====> DAO
                                       SQL ==> DAO
                                    =======   ====== BoardDAO  ==> detail.jsp
                                    board-mapper.xml
   -->
  <!-- 상세보기 SQL문장을 받아서 처리 => DAO-->
  <update id="hitIncrement" parameterType="int">
    UPDATE freeboard SET
    hit=hit+1
    WHERE no=#{no}
  </update>
  <select id="boardDetailData" resultType="BoardVO" parameterType="int">
    SELECT no,name,subject,content,regdate,hit 
    FROM freeboard
    WHERE no=#{no}
  </select>
  
  <!-- 데이터 추가 -->
  <insert id="boardInsert" parameterType="BoardVO">
   INSERT INTO freeboard(no,name,email,subject,content,pwd)
   VALUES(
     (SELECT NVL(MAX(no)+1,1) FROM freeboard),
     #{name},
     null,
     #{subject},
     #{content},
     #{pwd}
   )
  </insert>
  <!-- 수정하기 -->
  <!-- 
         resultType ==> String , string (대소문자 구분이 없다)
   -->
  <select id="boardGetPassword" resultType="string" parameterType="int">
    SELECT pwd FROM freeboard
    WHERE no=#{no}
  </select>
  <update id="boardupdate" parameterType="BoardVO">
    UPDATE freeboard SET
    name=#{name},
    subject=#{subject},
    content=#{content}
    WHERE no=#{no}
  </update>
  
  <!-- 삭제하기  -->
  <delete id="boardDelete" parameterType="int">
    DELETE FROM freeboard
    WHERE no=#{no}
  </delete>
</mapper>







