<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>OnLineStudy16_MVC1</display-name>
  <!-- Servlet 등록 -->
  <servlet>
    <servlet-name>mvc</servlet-name>
    <servlet-class>com.sist.controller.Controller</servlet-class>
    <!-- 
          Controller가 읽어갈 XML의 위치 저장 
     -->
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>C:\Users\채제분\git\online\OnLineStudy16_MVC1\WebContent\WEB-INF\applicationContext.xml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>mvc</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <!-- URL주소에 파일명 없이 자동 실행이 가능하게 만든다 : 등록된 파일만 가능 (추가해서 사용이 가능) -->
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>main.jsp</welcome-file>
    <!-- 추가 -->
  </welcome-file-list>
</web-app>