<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <!-- 
         <bean id="mem" class="com.sist.di.Member"> 디폴트 생성자 호출
         
         class A
         {
            public A(int a){}
         }
         
         A a=new A(); (X)
         A a=new A(10);(O)
     -->
    <bean id="mem" class="com.sist.di.Member">
      <constructor-arg value="홍길동"/>
      <constructor-arg value="서울"/>
      <constructor-arg>
        <value>010-1111-1111</value>
      </constructor-arg>
    </bean>
    <bean id="mem2" class="com.sist.di.Member"
      c:name="심청이"
      c:addr="경기"
      c:tel="010-2222-2222"
    />
    <bean id="mem3" class="com.sist.di.Member"
	    c:_0="박문수"
	    c:_1="인천"
	    c:_2="010-3333-3333"
    />
    
</beans>








