@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
div#chat_container{
    position: absolute;
    bottom: 0;
    right: 10px;
    width: 270px;
    height: 310px;
    overflow: hidden;
    z-index: 1000;
    /*top:300px;*/
}
div#chat{
    position: absolute;
    bottom: 0;
    right: 10px;
    width: 250px;
    height: 300px;
    background-color: #efefef;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
    transition:transform 300ms;
}

div#chat.active{transform: translateY(271px);}
div#chat header{
    width: 100%;
    height: auto;
    background-color: #FDCE6E;
    cursor: pointer;
}
div#chat header h1{
    font-family: 'Roboto Slab', sans-serif;
    color: white;
    font-size: 16px;
    text-align: left;
    whidth: 100%;
    margin: 0;
    padding: 3px 0 3px 20px;
}
div#chat section.content{
    overflow:scroll;
    background-color: #ffe1e1;
    position:absolute;
    top:29px;
    left: 0;
    right: 0;
    bottom:0;
}
div#chat form{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: white;
}
div#chat form input{
    display: block;
    width: 90%;
    height: 30px;
    border: none;
    line-height: 30px;
    margin: 5px auto;
    border-botom: 1px solid #303030;
    background-color: white;
    font-size: 16px;
}
div#chat form a{}

/* Experience digital logo */
#Provided_by{
    position:fixed;
    bottom: 20px;
    left:70px;
    color: #424242;
    text-decoration: none;
    font-family: sans-serif;
    margin-top: -20px;
    font-weight: 200;
}
#Provided_by img{
    position: absolute;
    bottom: -8px;
    width: 40px;
    left: -50px;
}